<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Uniondistribuidora.com RESTapi</title>
</head>
<body>
    <div class="header">
        <h1>Union Distribuidora RESTapi <span>v2.1.1</span></h1>
    </div>
    <main>
        <section class="intro">
            <div class="section-block"><!-- bloque flex -->
            <h3>Información de la API</h3>
            <p>Esta es una API de consumo. Los metodos <span class="green">GET</span>,<span class="green">POST</span> y <span class="green">PUT</span> estan disponibles. El metodo DELETE no esta disponible ya que los productos se desactivan mediante el campo "activo" en la base de datos.No se requiere autentificación para acceder a esta API.La version de esta API no está especificada en la cabecera como ocurre en otras RESTApi.</p>
            <div>
            <hr>
            <div class="section-block">
            <h3>Recurso /products/</h3>
            <p>Invocar el endpoind /products mediante un request GET, le devolverá un listado completo del catálogo de productos en formato JSON.</p>
            <div class="code"> <span class="tag">GET</span> http://api.uniondistribuidora.com/products</div>
            <p class="caption">En este caso nos devolvera un archivo JSON con toda la informacion de todos los productos.</p>
            <p>Si añadimos un {id} detras de /products/ nos devolvera un JSON con la información del producto con esa ID.</p>
            <div class="code"> <span class="tag">GET</span> http://api.uniondistribuidora.com/products/<b>34</b></div>
            <p class="caption">En este caso nos devolvera un archivo JSON con la información del producto 34.</p>
            <p>Para añadir un nuevo producto a la base de datos, tendrá que hacer un REQUEST POST enviando un JSON con el siguiente formato:.</p>
            <div class="code"> <span class="tag">POST</span> {
                "tipo": "tipo de bebida",
                "marca": "Marca de la bebida",
                "tamano": "tamaño del envase",
                "nombre": "Nombre del producto",
                "activo": "0"
              }</div>
            <div>
            <hr>
            <div class="section-block">
                <h3>Manejo de errores</h3>
                <p>Invocar un endpoind diferente a /products/ le devolverá un error 404 Not found. Por otro lado, si invoca un endpoind con una id no válida o que no se encuentra en la base de datos el endpoind le devolvera un error en forma de JSON con dos valores:</p>
                <div class="code"> <span class="tag-error">ERROR</span> {
                    "status": "error",
                    "Message": "The item 456 you requested do not exist"
                }</div>
            </div>
        </section>
    </main>
     <!-- Footer legal -->
     <section class="footer">
        <div class="footer-content">Diseñado y mantenido por <a href="http://www.ajsevillano.es"> AJ Sevillano</a> ®<span class="year"></span></div>
      </section>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>